*{
    font-family: "Gill Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing:border-box ; 
    text-transform:capitalize; 
    text-decoration: none; 

}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 20px;
}
body{
    background-color:#eee;
   

}
.header{
   position:fixed;
   top: 0; left: 0;right: 0;
   z-index: 1000;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: #fff;
   padding: 5px;
}
.header .logo{
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  /* margin-left: 20px; */

}
.logo i{
    color:orange;
   
}
.navbar a{
    font-size:20px;
    margin: 10px;
    color:black;
    text-decoration: none;


}
.navbar a:hover{
    color:orange;
}
.header .icon div{
    height:40px;
    width:40px;
    line-height:40px;
    background-color:#eee;
    color: black;
    font-size: 20px;
    cursor: pointer;
    border-radius: 3px;
    margin-right:5px ;
    text-align: center;

}
.icon div:hover{
    background: orange;
    color:#fff;
}


#menu-btn{
    display: none;

}

 .search-form{
position: absolute;
top:110%;right:-110%;
width:300px;
height:30px;
background: #fff;
border-radius:1px solid white;
overflow: hidden;
display: flex;
align-items: center;
}
.search-form input{
    /* height: 100%;
    width: 200%; */
    position: absolute;
    width:300px;
    background: none;
    text-transform: none;
    color: black;
    padding-left:20px;
    border-radius:none;
    
    
}
.search-form label{
    font-size: 15px;
    padding-right:1.5rem;     
    color: black;
    margin: 5px;
}
.search-form.active{
    right:20px;
    transition: .4s linear;
}
/* .header .box{
    width: 10%;
    height: 5%;
} */
.header .shopping-cart{
    position: absolute;
    top: 110%; right:-110%;
    padding:10px;
    width:400px;
    background: #fff;
    border-radius: 2px;

    
}

.shopping-cart .box{
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    margin: 5px 0px;
    line-height: 10px;

     

}
 .shopping-cart .box img{
    width: 200%;
    height: 200%;

}
 .fa-trash{
   font-size:20px;
   position: absolute;
   top: 50%;right: 10px;
   cursor: pointer;
   color: black;
   transform: translate(-50%);
   
}
.fa-trash:hover{
    color: orange;
}

.content h3{
    color: black;
    font-size:20px;
    padding-bottom: 0rem;
   
}
.content{
    margin: 10%;
}
.content span{
    font-size:20px;
   

}
.content .qunatity{
    padding: 80px;

}
.shopping-cart .total{
    padding:10px;
    font-size:30px;
    text-align: center;
    color: black;
}
.shopping-cart .btn{
    margin-top:10px;
    width: 100%;
    padding: 8px 3px;
    font-size:15px;
    border: 1px solid black;
    color: black;
    text-align: center;

}
.btn:hover{
    background: orange;
    color: white;
}
 /* .header .shopping-cart.btn{
    display:block;
    text-align: center;
    margin: 10PX;
    
} */
.header .shopping-cart.active{
    right: 3rem;
    transition: .4s linear;

}
.header .login{
    position: absolute;
    top:110%;right:-110%;
    width:400px;
    padding: 2rem;
    border-radius: 1rem;
    background: #fff;

}
.header .login h3 {
    font-size: 20px;
    text-transform:capitalize;
    text-align: center;
}
.header .login .box{
    width:90%;
    /* margin:3px ; */
    background: #eee;
    margin: 10px;
    padding: 10px;
    font-size: 1.5;
    color: black;
    text-transform: none;
    text-align: center;
}
.header .login .bt{
    width: 100%;
    margin: 5px;
    text-align: center;
    font-size:20px;
    padding: 3px;
    
   
}
.header .login .bt:hover{
    background: orange;
}
.header .login p{
    text-align: center;
    font-size:20px;
}
.header .login.active{
    right:20px;
    transition: .4s linear;
}

.heading{
    text-align: center;
    font-size:30px;
    padding-top:2rem;
    padding-bottom: 4rem;
    color:black;

}
.heading span{
    color:orange;
}
    
.feature .container{ 
     display:grid;
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
    gap:1.5rem;
   
    
}
.feature .container .box img{
    margin: 1rem 0;
    height: 10rem;

}

.feature .container .box{ 
    padding: 3rem 2rem;
    background: #fff;
    outline:oldlace ;
    text-align: center;  
  
}
.feature .container .box .btn{
    border: 1px solid black;
   
}
 

.product .product-slider{
    padding: 1rem;
}
.product .product-slider:first-child{
    margin-bottom:2rem ;
}
.product-slider .box{
    background: #fff;
    border-radius:.5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: 1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    align-items: center;
    text-align: center;
    margin: 10px;
    transition: .2s linear;
    width: 20%;
   
   


}
.product-slider .box img{
    height:70px;
    

}
/* .product .product-slider .box:hover{
   background:orange; 
} */

.product .product-slider .box .price{
    font-size: 30px;
    padding: 5px;

}
.product-slider .box .star i{
    font-size: 20px;
    padding: 5px;
    color: orange;

} 
.product-slider .box .btn{
    border: 1px solid black;
}


.categories .box-container{ 
    display:grid;
   grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
   gap:1.5rem;
   
} 
.categories .box-container .box{
    padding: 10px 10px;
    background: #fff;
    text-align: center;
    border-radius: 2px;
   
     
}
.categories .box-container .box .btn{
    border: 1px solid black;
}
.categories .box-container .box img{
    margin:3px;
    padding: 10px;
    width: 50%;
}
.categories .box-container .box h3 p{
    font-size: 20px;
   padding: 10px;
}




.review .review-slider{
    padding: 10px;
}
.review-slider .box{
    padding: 20px 20px;
    background:white;
    text-align:center;
    border-radius: 2px;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow:var(--box-shadow);
}
.review-slider .box img{
    height: 100px;
    width: 100px;
    border-radius: 50%;


}
.review-slider .box p{
    padding: 10px;
    font-size: 20px;
}
.review-slider .box h3{
    padding-bottom: 10px;
    font-size: 30px;
}
.review-slider .box .star i{
    color: orange;
    font-size: 15px;
}

.blogs .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
    gap:1.5rem;
    /* padding-left: 30px; */
    

}
.blogs .box-container .box{
    overflow: hidden;
    border-radius:5px;
    background: #fff;
    text-align: center;
    /* width: 70%; */
    ;

   


}
.blogs .box-container .box img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}
.blogs .box-container .box .content{
    padding: 10px;
}
.blogs .box-container .box .content .icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom:15px;
    margin-bottom:10px;
    border-radius: 1px solid #fff;
    text-decoration: none;
    list-style: none;
    


}
.footer{
    background:black;
    color: white;
    height: 400px;
    

}
.footer .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    gap:1.5rem;
  
}


.footer .box-container .box h3{
    font-size: 20px;
    padding: 10px;

}
  .box-container h3 i{
    color: orange;
    text-decoration: none;
  
}
 .box-container .box .btn{
    border: 1px solid black;
}
.footer .box-container .share i {
    display:inline;
}
 .box-container .box a:hover i{
    color: orange;
}
.footer .box-container .box a{
    display:block;
    font-size: 20px;
    padding: 10px;
    color: white;
    text-decoration: none;

}
.footer .box-container .box p{
   line-height:1;
    font-size: 20px;
    padding: 10px;
    
}
.footer .box-container .box .share a{
    display: inline;
}
.footer .box-container .box .share a:hover{
    color: orange;
}
























/* media query */
@media(max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    section{
        padding: 2rem ;
        font-size: 50%;
    }
    .header .logo{
        font-size: 15px;
    }

    

}


@media(max-width:768px) {
   
    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 110%; right:-110%;
        width: 40%;
        height: 300px;
        border-radius: .5%;
        background:#fff;
        display: block;

    }
    .header .navbar.active{
      right: 2rem;
      transition: .4s linear;
    }
    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
    .search-form input{
        width: 300px;
        height: 30px;
    }
     
    .shopping-cart .box{
       width:50%;
       height: 40%;

    }
    .shopping-cart .box .fa-trash{
        left: 170%;
    } 
     .feature .container{
        display: block;
        font-size: 10px;
       
    }
    .feature .container .box{
       margin-bottom: 10px;
    }
    .categories .box-container{
        display: block;
        font-size: 20px;
    }
    .categories .box-container .box{
        margin-bottom: 10px;
    }

    
} 
@media(max-width:450px){
    html{
        font-size: 50%;
    }
    
    

}





.home{
    display: flex;
    align-items:center;
    background: url(../image/7.jpg);
    justify-content: center;
    background-position: center;
    background-size: cover;
    /* padding-top: 17rem;
    padding-bottom: 10rem; */
  height: 500px;
}

.home .content{
    text-align:center;
   
    
}
.home .content h3{
    color: black;
    font-size: 2rem; 
    padding: 2rem;
}
.home .content h3 span{
    color: orange;
    font-size: 2rem;
}
.home .content p{
    color:black;
    font-size: 1rem;
}
.home .content .btn {
    width: 200px;
    border: 1px solid black;
    margin-top: 10px;
  
}
